<%= form_for(@task) do |t| %>
  <%= t.label :name %>
  <%= t.text_field :name %>
  <%= t.label 'done ?' %><%= t.check_box(:status, options = {}, checked_value = "true", unchecked_value = "false") %>
  <%= t.submit %>
<% end %>

<p><%= link_to 'Retour à l\'index', tasks_path %></p>
