<%= form_for(@task) do |t| %>
  <%= t.label :name %>
  <%= t.text_field :name %>
  <%= t.hidden_field :status, value: false %>
  <%= t.submit %>
<% end %>

<p><%= link_to 'Retour à l\'index', tasks_path %></p>
